.user-list-item {
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 5px;
    cursor: pointer;

    &:hover {
        background: aliceblue;
    }

    .avatar {
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 5px;
        }
    }

    .details {
        padding-left: 7px;
        .name {
            font-weight: bold;
            padding-bottom: 5px;
            // color: #000000b5;
            color: rgba(0, 0, 0, 0.6);
            font-size: 14px;
        }

        .email {
            color: gray;
            font-size: 13px;
        }
    }
}
