@import "../../design/variables.scss";

.app-center {
    flex: 1;
    display: flex;
    flex-direction: column;

    .button {
        &:hover {
            box-shadow: 1px 1px 6px 0px #0000001a;
        }

        display: flex;
        margin-left: 10px;
        cursor: pointer;
        align-items: center;
        padding: 5px 10px;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.05);
        background: #f6f7fb;

        .left {
            padding-right: 5px;
            font-size: 14px;

            img {
                height: 20px;
                width: 20px;
                border-radius: 50%;
            }
        }

        .center {
            font-size: 13px;
        }

        .right {
            font-size: 12px;
            padding: 0px 4px;
            color: gray;
        }

        .red-dot {
            height: 10px;
            width: 10px;
            background: #f44336;
            border-radius: 50%;
        }
    }

    .header {
        padding: 15px 20px;
        border-bottom: 1px solid $border-color;
        color: $text-color;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name {
            font-size: 15px;
        }

        .right-buttons {
            display: flex;
        }
    }

    .chat-list {
        flex: 1;
        overflow: auto;
        padding: 10px;

        .chat-message {
            display: flex;
            padding: 15px 10px;

            &.my-message {
                flex-direction: row-reverse;
                .message-text {
                    background: #3e87f4;
                }

                .media-list {
                    justify-content: flex-end;

                    .media-item {
                        padding: 0px 0px 10px 10px;
                    }
                }
            }

            &.other-message {
                .message-text {
                    // background: #009688;
                    background: #e8e8e8;
                    color: rgba(0, 0, 0, 0.8) !important;
                }
                .media-list {
                    .media-item {
                        padding: 0px 10px 10px 0px;
                    }
                }
            }

            .from-user img {
                height: 35px;
                width: 35px;
                border-radius: 50%;
            }

            .message-details {
                padding: 0px 10px;
                font-size: 14px;
                max-width: 60%;

                .media-list {
                    display: flex;

                    .media-item {
                        cursor: pointer;
                        img {
                            height: 100px;
                            width: 150px;
                            object-fit: cover;
                            border-radius: 5px;
                        }
                    }
                }

                .message-text {
                    border-radius: 5px;
                    color: white;
                    padding: 10px;
                    line-height: 19px;
                }
            }
        }
    }

    .message-writer {
        display: flex;
        padding: 10px 20px 10px 20px;

        .send-message {
            display: flex;
            flex: 1;
            flex-direction: column;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.3);

            .message-field-container {
                display: flex;
                padding: 5px 5px 35px 0px;

                input {
                    width: 100%;
                    outline: none;
                    border: none;
                    background: transparent;
                    color: gray;
                    padding: 2px 5px;
                    font-size: 16px;
                }
            }

            .footer {
                display: flex;
                .icons {
                    flex: 1;
                    display: flex;

                    .icon-buttons {
                        font-size: 20px;
                        color: gray;
                        padding: 5px 12px;
                        cursor: pointer;
                        border-radius: 5px;

                        &:hover {
                            background: rgba(0, 0, 0, 0.05);
                        }
                    }
                }

                .send {
                    display: flex;
                    align-items: center;

                    .send-button {
                        background: #3182ff;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 7px 20px;
                        cursor: pointer;
                        border-radius: 5px;

                        &:hover {
                            opacity: 0.95;
                        }
                    }
                }

                .whatsapp {
                    padding-right: 5px;
                    background: transparent;
                    margin-left: 0px;
                    padding-left: 7px;

                    &:hover {
                        box-shadow: none;
                        background: rgba(0, 0, 0, 0.05);
                    }

                    .left img {
                        height: 23px;
                        width: 23px;
                        border-radius: 0%;
                    }
                }
            }
        }
    }
}
