@import "../../design/variables.scss";

.App > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid $border-color;
    box-shadow: $box-shadow-bottom;

    .logo {
        img {
            height: 40px;
            padding-left: 10px;
        }
    }
    .profile-photo {
        display: flex;
        align-items: center;
        img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            padding: 7px 10px 7px 7px;
        }
    }
}
