@import '../../design/variables.scss';

.search-tabs {
    display: flex;
    align-items: center;
    padding: 10px 5px 0px 10px;
    border-bottom: 1px solid $border-color;

    .anticon {
        padding: 0px 10px;
        cursor: pointer;
    }

    .tab {
        padding: 8px 7px 10px 7px;
        cursor: pointer;
        color: gray;
        font-size: 14px;

        &.active {
            color: #2196f3;
            border-bottom: 2px solid #2196f3;
        }
    }
}