.search-bar {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 15px;
    font-size: 16px;

    .anticon {
        font-size: 18px;
    }
    
    .search-box {
        background: #f6f7fb;
        flex: 1;
        padding: 10px;
        border-radius: 5px;
        align-items: center;
        color: gray;
        display: flex;

        .search-field {
            outline: none;
            border: none;
            background: transparent;
            color: gray;
            padding: 2px 5px;
            font-size: 14px;
            flex: 1;
        }
    }

    .filter-button {
        padding: 5px 15px;
        cursor: pointer;
    }

}
