@import "../../design/variables.scss";

.app-right {
    width: 300px;
    border-left: 1px solid $border-color;

    .header,
    .header-secondary {
        padding: 25px 20px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $border-color;

        .left {
            font-weight: bold;
            font-size: 13px;
            color: rgba(0, 0, 0, 0.7);
            .anticon {
                font-size: 10px;
            }
        }
        .right {
            color: #1289e7;
            font-size: 12px;
        }
    }

    // last
    .image-name {
        display: flex;
        align-items: center;
        padding: 10px;

        .image-linked {
            display: flex;
        }

        .image-linked img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            padding: 9px;
            flex: 1;
        }
        .details {
            padding-left: 5px;
            padding-top: 15px;
            // margin-bottom: 17px;

            .name-linked {
                font-weight: bold;
                padding-bottom: 5px;
                color: rgba(0, 0, 0, 0.6);
                font-size: 14px;
                display: flex;
                justify-content: space-between;

                .date {
                    color: gray;
                    font-size: 10px;
                }
            }
            .text {
                font-size: 13px;
                color: gray;
            }
        }
    }
    //last

    .header-secondary {
        padding-top: 15px;
        padding-bottom: 5px;
        .left {
            .count {
                margin-left: 10px;
                font-size: 10px;
                padding: 2px 5px;
                background: rgba(0, 0, 0, 0.07);
                border-radius: 5px;
            }
            .anticon {
                padding-right: 5px;
            }
        }
    }

    .check-list {
        padding: 10px;

        .check-item {
            font-size: 13px;
            display: flex;
            padding: 9px 5px;

            .left {
                padding-right: 5px;
                opacity: 0.6;
            }
        }
    }

    .user-profile-details {
        padding-top: 25px;
        padding-bottom: 50px;
        // border-bottom: 1px solid $border-color;
        img {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            display: block;
            margin: auto;
        }

        .name {
            text-align: center;
            padding: 10px 0px 5px 0px;
        }

        .phone {
            text-align: center;
            color: gray;
            font-size: 13px;
        }
    }
}
