@import '../../design/variables.scss';

.app-left {
    padding-top: 10px;
    box-shadow: $box-shadow-right;
    // border-right: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    // flex: 1;
}